@import "tailwindcss";

@theme {
  --aquamarine: #5dfdcb;
  --bittersweet: #ee6352;
  --processcyan: #08b2e3;
  --magnolia: #efe9f4;
  --bgdisabled: #c6c2c9;
  --ultraviolet: #484d6d;
  --disabledlabel: #202231;
  --disabledtext: #5b5c62;
}
